<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.animal.mapper.boardMapper">
	<!-- 동물 소개 글쓰기 등록 -->
	<insert id="info_writing">
		<selectKey keyProperty="ino" order="BEFORE" resultType="int">
			<!-- select 값을 keyProperty="ino"에 추가BEFORE로 먼저 select -->
			select ifnull(MAX(ino)+1,1)from
			information
		</selectKey>
		insert into information(ino, animal_name, habitat, look, life, food,
		enemy, i_type, id, bgno)
		values(#{ino},#{animal_name},#{habitat}, #{look},
		#{life},
		#{food},#{enemy},#{i_type},#{id},#{bgno})
	</insert>

	<!-- 동물 소개 리스트 -->
	<select id="info_list"
		resultType="org.animal.model.informationVO">
		select
		rownum,i.ino,animal_name,habitat,look,life,food,enemy,date_format(animal_data,
		'%Y-%m-%d')animal_date,i_type, vision, bgno,
		Concat(Replace(info_upload,'\\','/'),'/',info_uid,'_',info_name)AS
		main_img
		from(select @rownum:=@rownum+1 rownum, i.* from information
		i,(select
		@rownum:=0)as tmp		
		   <if test="ikeyword != null">
			<choose>
				<when test="i_type == 'L'.toString()">
					where i_type="육지 동물" and animal_name like concat('%',#{ikeyword},'%') 					
				</when>
				<when test="i_type == 'B'.toString()">
					where i_type="조류" and animal_name like concat('%',#{ikeyword},'%')					
				</when>
				<when test="i_type == 'S'.toString()">
					where i_type="해상 동물" and animal_name like concat('%',#{ikeyword},'%')
				</when>
				<otherwise>
					where animal_name like concat('%',#{ikeyword},'%')
				</otherwise>
			</choose>
		</if>  
		 <if test="i_type != null">
			<choose>
				<when test="type == 'inew'.toString()">
					ORDER BY ino desc
				</when>
				<when test="type == 'irow'.toString()">
					ORDER BY ino 
				</when>
			</choose>
		</if> 		
		)as i join info_img f on i.ino = f.ino
		<![CDATA[
				where rownum > (#{pageNum}-1)*#{amount} and rownum<=#{pageNum}*#{amount} 
				and vision = 'm' and bgno = '1'
			]]>
	</select>
	
    <!-- 사진첩 글쓰기 등록 -->
	<insert id="photo_writing">
		<selectKey keyProperty="pno" order="BEFORE" resultType="int">
			<!-- select 값을 keyProperty="ino"에 추가BEFORE로 먼저 select -->
			select ifnull(MAX(pno)+1,1)from
			photo
		</selectKey>
		insert into photo(pno, id, bgno)
		values(#{pno},#{id},#{bgno})
	</insert>
	<!-- 사진첩 리스트 -->
	<select id="photo_list" resultType="org.animal.model.photoVO">
	select
		rownum,p.pno,bgno,id, photo_data,
        Concat(Replace(photo_upload,'\\','/'),'/',photo_uid,'_',photo_name)AS ph_img        
		from(select @rownum:=@rownum+1 rownum, p.* from photo p,(select @rownum:=0)as tmp
        order by pno desc)as p join photo_img h on p.pno = h.pno
        	<![CDATA[
				where rownum > (#{pageNum}-1)*#{amount} and rownum<=#{pageNum}*#{amount} 
				and bgno = '2'
			]]>        
	</select>
	
	<!-- 자유게시판 글쓰기 등록 -->
	<insert id="free_writing">
		<selectKey keyProperty="fno" order="BEFORE" resultType="int">
			<!-- select 값을 keyProperty="fno"에 추가BEFORE로 먼저 -->
			select ifnull(MAX(fno)+1,1)from
			free_board
		</selectKey>
		insert into free_board(fno, title, contents, free_cnt, id, bgno)
		values(#{fno}, #{title}, #{contents}, #{free_cnt}, #{id}, #{bgno})
	</insert>

	<!-- 자유게시판 리스트 -->
	<select id="free_list"
		resultType="org.animal.model.free_boardVO">
		select *, date_format(free_data, '%Y-%m-%d')free_date from
		free_board;
	</select>

	<!-- 건의게시판 글쓰기 등록 -->
	<insert id="tend_writing">
		<selectKey keyProperty="tno" order="BEFORE" resultType="int">
			<!-- select 값을 keyProperty="tno"에 추가BEFORE로 먼저 -->
			select ifnull(MAX(tno)+1,1)from
			tendinous
		</selectKey>
		insert ignore into tendinous(tno, tendinous_title, tendinous_cont, id, bgno)
		values(#{tno}, #{tendinous_title}, #{tendinous_cont}, #{id}, #{bgno})
	</insert>

	<!-- 건의게시판 리스트 -->
	<select id="tend_list" resultType="org.animal.model.tendinousVO">
		select *,
		date_format(tendinous_data, '%Y-%m-%d')tendinous_date from tendinous;
	</select>

	<!-- 테이블 전체 건수 -->
	<select id="info_total" resultType="int">
		select count(*) from
		information;
	</select>
	<select id="photo_total" resultType="int">
		select count(*) from photo;
	</select>
	<select id="free_total" resultType="int">
		select count(*) from free_board;
	</select>
	<select id="tend_total" resultType="int">
		select count(*) from
		tendinous;
	</select>

</mapper>