@import
	url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { /* 전체 선택자 */
	padding: 0; /* 패딩값 지정 */
	margin: 0; /* 마진값 지정 */
}

body { /* 바디태그 */
	font-family: 'Roboto', sans-serif; /* 글꼴 고딕체 지정 */
	background: #fff1f1; /* 배경색 지정 */
	width: 100%; /* 넓이 지정 */
}

body, ul, li {
	list-style: none; /* li태그 요소 제거 */
	margin: 0; /* 마진값 제거 */
}

/* 메인화면 */
.section { /* 메인 각 영역  */
	box-sizing: border-box; /* 박스 사이즈 지정 */
	padding: 6rem 0 6rem 0; /* 헤더와 메인을 따로하기위한 패딩값 */
	text-align: center; /* 텍스트 중앙 정렬 */
	display: flex; /* 가로 배치 */
	width: 100%; /* 넓이 지정 */
}

.section:nth-child(even) {
	background: #ccc; /* 배경색 지정 */
}

.pagination { /* 페이지 위치 확인 */
	transform: translateY(-50%); /* 상하 위치 지정 */
	position: fixed; /* 화면 보이게하기 위한 포지션 */
	right: 20px; /* 오른쪽 배치를 위한 값 */
	top: 50%; /* 상하 중안 배치 */
}

@media ( max-width :1000px ) { /* 반응형 미디어 쿼리 */
	.pagination {
		transform: translateY(0) translateX(-50%); /* x축 -50%wlwjd */
		right: auto; /* 오른쪽 폭 자동 */
		top: auto; /* 높이 자동 */
		left: 50%; /* 왼쪽 폭 50% */
		bottom: 0; /* 바닥 0값 지정 */
	}
	.pagination>li {
		float: left; /* 왼쪽 배치 */
	}
}

.pagination a {
	position: relative; /* 요소를 나누기위한 포지션 */
	display: block; /* 블록요소 지정 */
	padding: 20px; /* 패딩값 지정 */
}

.pagination a.active:after {
	box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: opacity 0.5s ease;
	padding-right: 15px;
	white-space: nowrap;
}

.pagination a:hover .hover-text {
	opacity: 1; /* 요소 투명도 적용 */
}

.pagination a:after { /* 내용 바로 뒤에 생성되는 요소 */
	transform: translateX(-50%) translateY(-50%); /* 상하좌우 위치 지정 */
	transition: box-shadow 0.5s ease; /* 메뉴 클릭 시 반응하는 css */
	border-radius: 50%; /* 라운드 지정 */
	position: absolute; /* 포지션 지정 */
	border: 1px solid; /* 외곽선 지정 */
	display: block; /* 블럭요소 지정 */
	height: 10px; /* 높이 지정 */
	content: ""; /* 해당 메뉴를 화면에 출력 */
	width: 10px; /* 넓이 지정 */
	left: 50%; /* 영역 안의 좌우 위치 지정 */
	top: 50%; /* 영역 안의 상하 위치 지정 */
}

.title { /* 각 카테고리 제목 */
	padding: 30 0 30 30; /* 패딩값 지정 */
	text-align: left; /* 텍스트 왼쪽 배치 */
}

/* 동물 소개 */
#animal_tap { /* 동물 소개 카테고리와 함께 전체로 감싸는 영역 */
	display: flex; /* 가로 배치 */
}

.animal_tap { /* 카테고리 분류 */
	width: 33%; /* 넓이 지정 */
}

.animal_img { /* 동물 소개  이미지 영역 */
	float: left; /* 영역 왼쪽 배치 */
	width: 30%; /* 넓이 지정 */
}

.animal_img img { /* 동물 소개 이미지 */
	height: 100%; /* 이미지 높이 지정 */
	width: 100%; /* 이미지 넓이 지정 */
}

.conten { /* 동물 이름,소개 내용을 감싸는 영역 */
	margin-left: 15px; /* 왼쪽 마진값 지정 */
	text-align: left; /* 텍스트 왼쪽 배치 */
	float: left; /* 영역 왼쪽 배치 */
	width: 65%; /* 넓이 지정 */
}

.animal_small_title { /* 동물  이름 */
	margin-bottom: 10px; /* 바닥마진 지정 */
}

.animal_conten { /* 동물 소개 내용 */
	font-size: 13px; /* 폰트 사이즈 지정 */
}

.animal_img_tap { /* 동물 이름,소개내용, 이미지를 감싸는 영역 */
	border-bottom: 1px solid #ddd; /* 각 내용을 분류 시켜줄 바닥선 */
	padding: 20 20 20 0; /* 패딩값 지정 */
	margin: 20 20 20 0; /* 마진값 지정 */
	height: 100%; /* 높이 지정 */
}

/* 사진첩 */
.center_menu { /* 사진첩 전체를 감싸는 영역 */
	width: 100%; /* 넓이 지정 */
}

.photo_img { /* 이미지를 감싸는 영역 */
	padding: 0 0 50 0; /* 패딩값 지정 */
	float: left; /* 영역 왼쪽 배치 */
	width: 20%; /* 넓이 지정 */
}

/* 게시판 타이틀 */
.board {
	border-bottom: 4px solid gray; /* 바닥 외곽선 지정 */
	display: flex; /* 가로 배치 */
}

.board_conten { /* 게시판 내용  */
	border-bottom: 1px solid gray; /* 바닥 외곽선 지정 */
	padding: 10 0 10 0; /* 상하 패딩 지정 */
	display: flex; /* 가로 배치 */
}

/* 자유 게시판 */
#left {
	padding: 15px; /*패딩값 지정 */
	height: 100%; /* 높이 지정 */
	width: 46.8%; /* 넓이 지정 */
	float: left; /* 영역 왼쪽 배치 */
}

.free_no { /* 자유게시판 번호  */
	width: 7%; /* 넓이 지정 */
}

.free_title { /* 자유게시판 제목 */
	width: 45%; /* 넓이 지정 */
}

.free_id { /* 자유게시판 이름 */
	width: 15%; /* 넓이 지정 */
}

.free_data { /* 자유게시판 등록 날짜 */
	width: 13%; /* 넓이 지정 */
}

.free_cnt { /* 자유게시판 조회수 */
	width: 10%; /* 넓이 지정 */
}

.free_like { /* 자유게시판 추천수 */
	width: 10%; /* 넓이 지정 */
}

/* 건의게시판 */
#right {
	padding: 15px; /* 패딩값 지정 */
	height: 100%; /* 높이 지정 */
	width: 46.8%; /* 넓이 지정 */
	float: right; /* 영역 오른쪽 배치 */
}

.no { /* 건의게시판 번호 */
	width: 10%; /* 넓이 지정 */
}

.board_title { /* 건의게시판 제목 */
	width: 50%; /* 넓이 지정 */
}

.board_id { /* 건의게시판 이름 */
	width: 15%; /* 넓이 지정 */
}

.board_data { /* 건의게시판 등록 날짜 */
	width: 15%; /* 넓이 지정 */
}

.board_cnt { /* 건의게시판 조회수 */
	width: 10%; /* 넓이 지정 */
}