@import
	url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	background: #333;
	color: #ccc;
	font-family: 'Roboto', sans-serif;
}

body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}


.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  box-sizing: border-box;
  text-align: center;
}
.section:nth-child(even) {
  background: #ccc;
  color:#333;
}

.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

@media ( max-width:1000px ) {
    .pagination {
        top:auto;
        right:auto;
        left:50%;
        bottom:0;
        transform: translateY(0) translateX(-50%);
    }
    
    .pagination > li {
        float:left;
    }
}

.pagination a {
    display: block;
    color: white;
    position: relative;
    padding: 20px;
}

.pagination a.active:after {
    box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
    padding-right: 15px;
    white-space:nowrap;
}

.pagination a:hover .hover-text {
    opacity: 1;
}

.pagination a:after {
    content: "";
    transition: box-shadow 0.5s ease;
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
}