@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}

body { /* 웹페이지 여백제거 */
	background: turquoise;
	padding: 0;
	margin: 0;
}

.img {
	padding-bottom: 40px;
	width: 100%;
}

#main_frame {
	box-shadow: 15px 15px 15px 15px rgb(0 0 0/ 30%);
	padding: 20px 20px 20px 20px;
	background-color: #EEEFF1;
	border-radius: 0px 5px 5px 5px;
	width: 600px;
  text-align: center;
}

.menu_tap {
	cursor: pointer;
}

.text_field {
	margin-bottom: 30px;
	border-radius: 5px;
	margin-right: auto;
	margin-right: auto;
	margin-left: auto;
	font-size: 14px;
	padding: 20px;
	border: none;
	width: 90%;
}

.login_bth {
	background-color: #1BBC9B;
	margin: 30px;
	border-radius: 5px;
	font-size: 14px;
	padding: 15px;
	color: white;
	border: none;
	width: 90%;
}

.links {
	text-align: center;
}

.links a {
	font-size: 12px;
	color: #9B9B9B;
}

.menu_tap {
  border: 2px solid gray;
  background: #EEEFF1;
  width: 100px;
  height: 50px;
  font-size: 13px;
  text-align:center;
  padding: 15px 0px 15px 0px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
}
#tap{
  display:flex;
}

#frame{
    display: flex;
    width: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.title {
	font-weight: 600; /* 글자 굵기 지정 */
	color: #7f3c3b; /* 글자 색상 지정 */
	height: 40px; /* 해당 영역 높이 지정 */
	float: left; /* 왼쪽 배치 */
	width: 20%; /* 넓이 지정 */
}

.title_content {
	text-align: right; /* 글자 오른쪽 정렬 */
	line-height: 40px; /* 글자 수직 위치 지정 */
}

.conten {
	height: 40px; /* 입력 영역 높이 지정 */
	float: right; /* 오른쪽 배치 */
	width: 73%; /* 영역 넓이 지정 */
}

.box {
	width: 40px;
	border: 1px solid #ff201c;
	border-radius: 7px 0px 0px 7px;
	background: antiquewhite;
	float: left;
	height: 40px;
	border-right: none;
}

.Information {
	height: 40px;
	padding-left: 20px;
}

.svg {
	width: 30px;
	margin: 4px;
}

.text {
	float: left;
	height: 40px;
	width: 280px;
	border: 1px solid #ff201c;
	padding-left: 15px;
}
.alert {
    float: left;
    font-size: 12px;
}

.email_svg {
    width: 25px;
    margin: 7px;
}

.phone_svg {
    width: 18px;
    margin: 7px;
}

.area {
	margin-bottom: 20px; /* 입력란 아래 칸 간격 지정  */
	overflow: hidden; /* float으로 없어진 높이 속성 지정 */
}