@charset "UTF-8";

	.area {
		margin-bottom: 20px; /* 입력란 아래 칸 간격 지정  */
		overflow: hidden; /* float으로 없어진 높이 속성 지정 */
	}

.title {
	font-weight: 600; /* 글자 굵기 지정 */
	color: #7f3c3b; /* 글자 색상 지정 */
	height: 40px; /* 해당 영역 높이 지정 */
	float: left; /* 왼쪽 배치 */
	width: 30%; /* 넓이 지정 */
}

.title_content {
	text-align: right; /* 글자 오른쪽 정렬 */
	line-height: 40px; /* 글자 수직 위치 지정 */
}

.conten {
	height: 40px; /* 입력 영역 높이 지정 */
	float: right; /* 오른쪽 배치 */
	width: 70%; /* 영역 넓이 지정 */
}

.box {
	width: 40px;
	border: 1px solid #ff201c;
	border-radius: 7px 0px 0px 7px;
	background: antiquewhite;
	float: left;
	height: 40px;
	border-right: none;
}

.Information {
	height: 40px;
	padding-left: 20px;
}

.svg {
	width: 30px;
	margin: 4px;
}

.text {
	float: left;
	height: 40px;
	width: 280px;
	border: 1px solid #ff201c;
	padding-left: 15px;
}

.alert {
    float: left;
    font-size: 10px;
}

.email_svg {
    width: 25px;
    margin: 7px;
}

.phone_svg {
    width: 18px;
    margin: 7px;
}

#signup_btn {
	background-color: #1BBC9B;
	margin: 10px 0px 10px 0px;
    border-radius: 5px;
    font-size: 14px;
    padding: 15px;
    color: white;
    border: none;
    width: 90%;
}