@charset "UTF-8";

#photo_tap {
	padding-top: 30px; /* 헤더와 칸을 띄우기 위한 패딩 */
	height: 100%; /* 높이 지정 */
	/* display: none; 페이지 이동시 나올 수 있게 */
}

#photo_title{
	border-bottom: 5px solid gray; /* 하단 테두리 및 선 색상 지정 */
	padding-bottom: 10px; /* 하단 패딩값 10지정 */
}
#photo_border {
	padding: 20 0 20 0;
	text-align: center;
}

.photo_all {
	border: 1px dashed rgba(43, 59, 74, 0.3);
	background-color: #F8F9F9;
	justify-content: center;
	padding: 150 50 150 50;
	flex-direction: column;
	align-items: center;
	border-radius: 4px;
	width: 1200px;
	margin: auto;
}

.btn-upload {
	width: 150px;
	height: 30px;
	background: #fff;
	border: 1px solid rgb(77, 77, 77);
	border-radius: 10px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.btn-upload:hover {
	background: rgb(77, 77, 77);
	color: #fff;
}

#file {
	display: none;
}

.photo_title {
	padding-bottom: 30px;
}
#menu_bth {
	border-top: 3px solid #ddd;
    overflow: hidden;
}
#uploadResult {
    padding: 0px 100px 20 100;
}
#uploadResult li {
    list-style: none;
}
#uploadResult img {
    width: 250;
}
#button {
	display: inline-block;
}