@import
	url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* page 공용 css */
/* 타이틀 */
.title {
	padding: 0 0 10 0; /* 하단 패딩값 10 지정 */
	height: 50px; /* 높이 50 지정 */
}
/* 최신순, 조회수, 오래된순 css */
.page_menu { 
	border-bottom: 4px solid gray; /* 하단 테두리 및 선 색상 지정 */
	overflow: hidden; /* float으로 인한 오버플로우 */
}

.ranking>ul {
	display: flex; /* 가로배열 */
	float: left; /* 왼쪽 배치 */
}

.ranking>ul>li {
	list-style: none; /* li태그 스타일 삭제 */
	padding: 10; /* 전체 패팅값 10지정 */
}
/* 검색 관련 css */
.seach {
	float: right; /* 오른쪽 배치 */
}

.select_menu {
	border: 1px solid #ddd; /* 테두리선 색상 및 두께 변경 */
	height: 35px; /* 높이 35지정 */
}

.keyword {
	border: 1px solid #ddd; /* 테두리선 색상 및 두께 변경 */
	width: 250px; /* 넓이 250지정 */
	height: 35px; /* 높이 35지정 */
}

.button {
	border-color: #707070; /* 테두리 색상 변경 */
	background: #707070; /* 배경색상 변경 */
	margin-left: -5px; /* 검색창과 붙이기 */
	width: 100px; /* 넓이 100지정 */
	height: 35px; /* 높이 35지정 */
	color: #fff; /* 글자색 변경 */
}

/* 내용 전체 div */
.contents {
	border-bottom: 3px solid #ddd; /* 바닥선 색싱 및 두께 변경 */
	overflow: hidden; /* float인한 오버플로우 */
}

/* 동물 소개  */
.animal_smail_tap { /* 동물별 소개를 담은 영역 */
	padding: 0 20 20 0; /* 다른 영역과 간격을 두기위한 패딩 */
	height: 225px; /* 높이 고정을 위한 값 */
	width: 730px; /* 가로배치를 둘로 나눌려는 넓이 값 */
	float: left; /* 가로배치를 위한 float */
}

.animal_img { /* 동물 사진 영역 */
	float: left; /* 제목과 내용을 가로배치라기 위한 float */
	width: 225px; /* 이미지 영역 넓이 고정 */
}

.animal_img1 { /* 동물 사진 */
	width: 100%; /* 사진 크기 고정 */
}

.main_contents { /* 소개 내용 */
	padding-left: 15px; /* 이미지와 간격을 두기위한 패딩 */
	height: 225px; /* 영역 높이값 고정 */
	width: 66.9%; /* 내용 넓이 지정 */
	float: left; /* 이미지영역과 분리 시킬려는 float */
}

.small_title { /* 동물 이름 */
	padding-bottom: 10; /* 내용과 간격을 두기위한 패딩 */
	height: 45px; /* 제목 높이값 고정 */
}

.small_contents { /* 동물 내용 */
	height: 170px; /* 내용란 높이 고정 */
}

/* 사진첩 */
.photo_img { /* 사진첩 이미지 영역 */
	padding: 0 20 20 20; /* 이미지간 간격 두기 */
	float: left; /* 이미지 가로 배치 */
	width: 17.3%; /* 이미지가 영역 넓이  */
}

img.photo_img1 { /* 사진  */
	width: 100%; /* 사진 크기 지정 */
}

/* 자유게시판 */
#free_caution { /* 자유게시판 주의사항 */
	border: 1px solid #ccc; /* 테두리 및 선 색상 지정 */
	padding: 10 10 10 50; /* 패딩값 지정 */
}

#free_caution>ol>li { /* 자유게시판 주의사항 내용 */
	padding: 10 0 10 0; /* 글 높애 패딩 값 주기 */
}

#free_menu { /* 검색 및 카테고리별 순서 정렬 */
	padding-top: 30px; /* 상단 패딩값 30지정 */
	height: 50px; /* 높이 50 지정 */
}

#free_board { /* 자유게시판 타이틀  */
	border-bottom: 4px solid gray; /* 상단 테두리 및 선 색상 지정 */
	border-top: 4px solid gray; /* 하단 테두리 및 선 색상 지정 */
	text-align: center; /* 글자 중앙 정렬 */
	display: flex; /* 가로 배열 */
}

.free_no { /* 자유게시판 번호 */
	width: 10%; /* 넓이 지정 */
}

.free_small_title { /* 자유게시판 제목 */
	width: 35%; /* 넓이 지정 */
}

.free_id { /* 자유게시판 id */
	width: 15%; /* 넓이 지정 */
}

.free_data { /* 자유게시판 등록일자 */
	width: 20%; /* 넓이 지정 */
}

.free_cnt { /* 자유게시판 조회수 */
	width: 10%; /* 넓이 지정 */
}

.free_like { /* 자유게시판 추천수 */
	width: 10%; /* 넓이 지정 */
}

#free_board_conten { /* 자유게시판 내용 */
	border-bottom: 1px solid gray; /* 하단 테두리 및 선 색상 지정 */
	padding: 10 0 10 0; /* 상하 패딩값 지정 */
	text-align: center; /* 글자 중앙 정렬 */
	display: flex; /* 가로 배열 */
}

/* 건의게시판 */
#tendinous_board { /* 건의게시판 타이틀 */
	border-bottom: 4px solid gray; /* 하단 테투리 및 선 색상 지정  */
	text-align: center; /* 글자 중앙 정렬 */
	display: flex; /* 가로 배치 */
}

#tendinous_board_conten { /* 건의게시판 내용 */
	border-bottom: 1px solid gray; /* 하단 테두리 및 선 색상 지정 */
	padding: 10 0 10 0; /* 상하 패딩값 지정 */
	text-align: center; /* 글자 중앙 정렬 */
	display: flex; /* 가로 배열 */
}

.no { /* 건의게시판 번호 */
	width: 10%; /* 넓이 지정 */
}

.board_title { /* 건의게시판 제목 */
	width: 45%; /* 넓이 지정 */
}

.board_id { /* 건의게시판 id */
	width: 15%; /* 넓이 지정 */
}

.board_data { /* 건의게시판 등록일자 */
	width: 20%; /* 넓이 지정 */
}

.board_cnt { /* 건의게시판 조회수 */
	width: 10%; /* 넓이 지정 */
}